<!doctype html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>nestedspace</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/home.css" rel="stylesheet" type="text/css">

        <div class="h-100 d-flex flex-column p-2 justify-content-center align-items-center">
            <div class="nested-logo mb-5"></div>
            <div class="container mt-5 d-flex justify-content-center">
                <div class="row w-100 justify-content-center">

                    <button type="button" class="btn col-12 col-lg-3 btn-outline-secondary text-light m-2 p-2 w-25">Applications</button>
                    <button type="button" class="btn col-12 col-lg-3 btn-outline-secondary text-light m-2 p-2 w-25">Web Development</button>
                    <button type="button" class="btn col-12 col-lg-3 btn-outline-secondary text-light m-2 p-2 w-25">Finance</button>

                </div>
            </div>
        </div>


        <% include partials/footer %>

