<!DOCTYPE html>
<html>
    <link href="/apps/all/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/apps/finance/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"> 
    <style>
      .title {
          font-family: 'Indie Flower', cursive;
      }
      .pink {
          background-color: pink;
          border: 1px solid red;
      }
    </style>

    <head>
        <body>

            <!-- Image and text -->
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/finance">
                    <img src="/apps/finance/finance-logo-75.png" width="30" height="30" class="d-inline-block align-top"  alt="">
                    <span class="title">my finance</span>
                </a>

                <div class="container">
            </nav>


