<!DOCTYPE html>
<html>
  <% include partials/meta %>
  <body>
    <% include partials/header %>
    <div class="main">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 p-3 grey-bg">
          <h1 align="center">Add New Commitment</h1>

          <label for="name" class="add-new">Commitment item:</label>
          <input
            type="text"
            id="name"
            class="add-new"
            oninput="validateName('name')"
            onpropertychange="validateName('name')"
            onkeyup="validateName('name');"
            placeholder="Commitment Item Name"
          />
          <label for="category" class="add-new">Category:</label>
          <select id="category" class="form-control d-inline rounded-0 add-new">
            <option>Occasional</option>
            <option>Groceries</option>
            <option>Kids</option>
            <option>Entertainment</option>
            <option>Clothing</option>
          </select>
          <label for="quantity" class="add-new w-50">Quantity:</label>
          <label for="frequency" class="add-new add-new-label-right"
            >Frequency:</label
          >
          <input
            type="number"
            id="quantity"
            class="add-new w-50"
            step="0.01"
            pattern="\d+"
            oninput="validateNumber('quantity')"
            onpropertychange="validateNumber('quantity')"
            onkeyup="validateNumber('quantity');"
            placeholder="Quantity.."
          />
          <select
            id="frequency"
            onchange="updateLengthVisibility('frequency', 'lengthHolder')"
            class="form-control w-25 d-inline rounded-0 add-new-right"
          >
            <option>Once Only</option>
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
            <option>Annual</option>
          </select>

          <label for="start" class="add-new">Start Date:</label>
          <input
            id="start"
            class="add-new"
            oninput="validateDate('start')"
            onpropertychange="validateDate('start')"
            onkeyup="validateDate('start');"
            type="date"
          />
          <div id="lengthHolder" class="lengthHolder">
            <label for="length" class="add-new">Commitment Length:</label>
            <input
              type="number"
              id="length"
              class="add-new w-50"
              pattern="\d+"
              oninput="validateLength('frequency', 'length')"
              onpropertychange="validateLength('frequency', 'lenght')"
              onkeyup="validateLength('frequency', 'length');"
              placeholder="Length"
            />
            <select
              id="lengthUnit"
              class="form-control w-25 d-inline rounded-0 add-new-right"
            >
              <option>Days</option>
              <option>Weeks</option>
              <option>Months</option>
              <option>Years</option>
            </select>
          </div>
          <button
            id="submitButton"
            onclick="submitAddNewCommitment()"
            class="btn btn-primary mt-3 add-new"
          >
            Submit
          </button>
          <div id="loadStatus"></div>
      </div>
      <div class="col-12 col-sm-8 p-3 mt-5 grey-bg">
        <div
          id="tables-section"
          class="row"
          style="padding-left: 15px; padding-right: 15px;"
        ></div>
        <div class="flat-loader">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>

      </div>
    </div>


    <script type="module">
      import {
        setOneHeaderLinkActive_DeactivateOthers,
        updateTableFromServer,
      } from "/js/finance.js";

      setOneHeaderLinkActive_DeactivateOthers("commitmentsLink");
      $("#lengthHolder").hide();
      updateTableFromServer("tables-section", "Commitments");
    </script>
  </body>
</html>
