<!DOCTYPE html>
<html>
  <% include partials/meta %>
  <body>
    <% include partials/header %>
    <div class="main">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
          <div class="row">
            <div class="col-12 p-0">
              <div class="widget-container pt-lg-0">
                <span class="title">
                  Spend Vs Budget
                </span>
                <select
                  class="form-control d-inline rounded-0 add-new"
                  onchange="updateExpensesModel('category-select', 'ExpensesModelChart')"
                  id="category-select"
                >
                  <!--TODO: Load from DB -->
                  <option>All budgets</option>
                  <option>Groceries</option>
                  <option>Clothing</option>
                  <option>Entertainment</option>
                  <option>Petrol</option>
                  <option>Occasional</option>
                  <option>Kids</option>
                  <option>Christmas</option>
                </select>

                <div>
                  <canvas
                    id="ExpensesModelChart"
                    class="widget-content"
                  ></canvas>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 p-0">
              <div class="widget-container pt-0">
                <span class="title">
                  Expenses Breakdown
                </span>
                <div>
                  <canvas
                    id="ExpensesBreakdownChart"
                    class="widget-content"
                  ></canvas>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 p-0">
              <div class="widget-container pt-lg-0">
                <span class="title">
                  Expenses History (6m)
                </span>
                <div>
                  <canvas
                    id="ExpensesHistoryChart"
                    class="widget-content"
                  ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="p-3 grey-bg">
            <h1 align="center">Add New Expense</h1>
            <label for="name" class="add-new">Expense:</label>
            <input
              type="text"
              id="name"
              class="add-new"
              placeholder="Expense Name"
              oninput="validateName('name')"
              onpropertychange="validateName('name')"
              onkeyup="validateName('name');"
              required="required"
            />
            <label for="quantity" class="add-new">Quantity:</label>
            <input
              type="number"
              id="quantity"
              step="0.01"
              class="add-new"
              placeholder="Quantity.."
              oninput="validateNumber('quantity')"
              onpropertychange="validateNumber('quantity')"
              onkeyup="validateNumber('quantity');"
              required="required"
            />
            <label for="date" class="add-new">Start Date:</label>
            <input
              id="date"
              class="add-new"
              oninput="validateDate('date')"
              onpropertychange="validateDate('date')"
              onkeyup="validateDate('date');"
              type="date"
            />
            <label for="category" class="add-new">Category:</label>
            <select
              id="category"
              class="form-control d-inline rounded-0 add-new"
            >
              <option>Occasional</option>
              <option>Groceries</option>
              <option>Clothing</option>
              <option>Entertainment</option>
              <option>Petrol</option>
              <option>Kids</option>
              <option>Christmas</option>
            </select>
            <label for="description" class="add-new">Any extra details:</label>
            <textarea
              id="description"
              class="add-new"
              placeholder="Any extra details..."
              style="padding-left: 15px; padding-top: 5px;"
            ></textarea>
            <button
              type="submit"
              id="submitButton"
              onclick="submitAddNewExpenseItemForm()"
              class="btn btn-primary mt-3 add-new"
            >
              Submit
            </button>
            <div id="loadStatus"></div>
            <div class="flat-loader">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="tables-section"
        class="row"
        style="padding-left: 15px; padding-right: 15px;"
      ></div>
    </div>
    <script>
      setOneHeaderLinkActive_DeactivateOthers("expensesLink");
      updateExpensesPage();
    </script>
  </body>
</html>
