<% include partials/header %>

<!-- Side navigation -->
<div class="sidenav highlight-font">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div class="main">

    <h1 class="text-center highlight-font-lg" >Your Finances:</h1>
    <div class="row mt-3 d-flex align-items-flex">
        <div class="chart-container col-12 col-lg-6 col-xl-4 widget-container">
            <canvas id="FinanceIOChart" class="widget-content p-2"></canvas>
        </div>
        
        <div class="chart-container col-12 col-lg-6 col-xl-4 widget-container">
            <canvas id="BudgetSummaryChart" class="widget-content"></canvas>
        </div>

        <div class="chart-container col-12 col-lg-6 col-xl-4 widget-container">
            <canvas id="CommitmentSummaryChart" class="widget-content"></canvas>
        </div> 
    </div>
    
<% include partials/footer %>
