<!DOCTYPE html>
<html>
    <head>

        <title>My Finances</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#2980b9">

        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:400,700,500'>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
        <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap"> 
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type='text/css' href="/css/finance.css">
        
        <link rel="icon" href="/ico/favicon.ico">

        <style>
        </style>

    </head>
        <body>

            <nav class="navbar justify-content-center">
                <a class="navbar-brand" href="/finance">
                    <img src="/img/finance-logo-75.png" width="30" height="30" class="d-inline-block align-top"  alt="">
                    <span class="highlight-font">my finance</span>
                </a>

            </nav>


