body {
background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f8f9fa!important; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    margin-top:50px; /* Allow for nav-bar*/
}


/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.25rem;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #56CCF2;
}

/* Style page content */
.main {
    margin-left: 120px; /* Same as the width of the sidebar*/
    padding: 20px 40px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 576px) {
    .sidenav {padding-top: 15px;}
    .sidenav{
        width: 0px;
    }

    .main {
        margin-left: 0;
    }

    .sidenav a {font-size: 18px;}
}

.widget-container {
    padding: 15px;
}

.widget-content {
    min-height:350px;
    max-height:350px;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;
    overflow: auto;
}

