:root {
    --primary: #2980b9;
    --primary-md: #94C0DC;
    --primary-light: #FAFCFD;
}

body {
    background: var(--primary);
    margin-top: 0px;
}

h1 {
	color: white;
	padding: 5px;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: normal;
        text-align:center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
	font-size: 1rem;
}

li:nth-child(2n){
	background: #f7f7f7;
}


table, th, td {
    /*border: 1px solid red;*/
}

table {
    background: #f7f7f7;
    width : 100%;
}

th {
    padding: 15px;
    text-align: center;
}


td {
    padding: 5px 5px 5px 20px;
    line-height: 40px;

}

tr:nth-child(2n){
    background: #fff;
}

thead {
    background-color: #2980b9 ;
    color: white;
    margin: 70px 0 0 0;
    padding: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: lighter;
}

summary {
	background: #52a3ff;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

input {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	height: 40px;
	line-height: 40px;
	font-size: 1rem;
}

input.add-new {V
    font-size: 1.2em;
    color: #2980b9;
    background-color: #f7f7f7;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    padding-left:15px;
}

input:focus.add-new{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;

}

input.edit-existing{
	font-style: italic;
	outline: none;
	color: #666;
}

label.add-new{
    color: white;
    font-weight: bold;
    margin: 0;
    width: 100%;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.add-new{
    width: 100%;
}

.add-new-right{
    width:45%!important;
    height: calc(1.5em + 0.85rem + 2px); 
    float:right;
}

.add-new-label-right{
    float: right;
    width: 45%!important;
    padding-left: 5%;
    display: inline;
}

.grey-bg{
    background-color: rgba(77,77,77,0.8);
}

.navbar {
    background: #2980b9!important; 
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fffff0!important; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    margin-top:50px; /* Allow for nav-bar*/
}


/* Style page content */
.main {
    padding: 60px;
}


.widget-container {
    padding: 30px;
}

.widget-container-1{
    background-color: var(--primary-md);
}
.widget-container-2{
    background-color:#3fb0ac;
}
.widget-container-3{
    background-color:#e05915;
}
.widget-container-4{
    background-color:#173e43;
}

.widget-content {
    min-height:350px;
    height:100%;
    width:100%;
    background-color: var(--primary-light);
    overflow: auto;
    padding: 15px;
}

.highlight-font-lg {
    font-family:'Indie Flower', cursive; 
    font-size: 2.5rem;
}

.highlight-font {
    font-family: 'Indie Flower', cursive;
    font-size: 1.25rem;
    color: #fffff0;
}

.error {
    background-color: pink!important;
    border: 1px solid red!important;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.fa-plus {
	float: right;
}



.flat-loader {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.flat-loader > div {
  background-color: #DDD;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.flat-loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.flat-loader .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.flat-loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.flat-loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.round-flat-loader {
  margin: 20px auto 0;
  width: 70px;
  text-align: center;
}

.round-flat-loader > div {
  width: 15px;
  height: 15px;
  background-color: #DDD;
  border-radius: 100%;
  margin: 2%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.round-flat-loader .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.round-flat-loader .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}
